* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background: #b9bbb7;
  background-image: url("5e7338dafa6498340e5a210f_Hero_About_Ostmodern.jpg");
  background-color:#b9bbb7;
}

h1 {
  margin-top: 20px;
  color: #1c1d1e;
  font-family: "Inter", sans-serif;
}

.container {
  border-radius: 25px;
  max-width: 1200px;
  height: 800px;
  margin: 82px auto;
  background: #e4dada;
  
  padding: 16px 32px;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

button {
  border-radius: 25px;
}

.container form {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.container form label {
  background: #73afe7;
  color: #023047;
  
  height: 40px;
  width: 100px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container form input[type="radio"]:checked+label {
  background: #023047;
  color: #fff;
  font-weight: bold;
}

.container .choices {
  display: flex;
  gap: 20px;
}

.container form input[type="radio"] {
  display: none;

}

.container textarea {
  border-radius: 25px;
  padding: 16px;
  font-size: 20px;
  height: 240px;
  resize: none;
  line-height: 1.7;
  border: 1px solid #023047;
}

.container button {
  padding: 8px;
  font-size: 20px;
  border: none;
  background: #FF3800;
  color: #fff;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.translation {
  border-radius: 25px;
  padding: 16px;
  background: #edf2f4;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.7;
  height: 260px;
  overflow-y: auto;
  scrollbar-color: #438eac #245c72;
  position: relative;
}

.translation .copy-btn {
  position: absolute;
  width: 20px;
  top: 12px;
  right: 30px;
  opacity: 0.7;
  cursor: pointer;
  
}

.notification {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100px);
  background: #023047;
  color: #fff;
  padding: 12px 24px;
  border-radius: 30px;
  transition: all 400ms ease;
}

.notification.active {
  transform: translate(-50%, -30px);
}

.error {
  color: #FF3800;
}